<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complaints</title>
    <link rel="stylesheet" href="/css/complaint.css">
  </head>
  <body>
    <main class="container">
      <h2>Complaints</h2>
      <section class="add-complain">
        <button>
          <span>+</span>
          Add complain
        </button>
      </section>
      <section class="complain-wrapper">
        <div class="complain">
          <div class="complain-image">
            <img
              src="https://images.pexels.com/photos/27143631/pexels-photo-27143631/free-photo-of-fisherman.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="complaint image"
            />
          </div>
          <div class="complain-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quidem, voluptates, quod, quas quae quia quibusdam dolorum
              voluptatum quos nemo quae quia quibusdam dolorum voluptatum quos
              nemo
            </p>
          </div>
          <div class="complain-footer">
            <div class="poster-image">
              <img
                src="https://i.pinimg.com/736x/bb/e3/02/bbe302ed8d905165577c638e908cec76.jpg"
                alt=""
              />
            </div>
            <div class="author-desc">
              <span class="name">Amol Parashar</span>
              <span class="date">Dec 12, 2021</span>
            </div>
          </div>
        </div>
        <div class="complain">
          <div class="complain-image">
            <img
              src="https://images.pexels.com/photos/27143631/pexels-photo-27143631/free-photo-of-fisherman.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="complaint image"
            />
          </div>
          <div class="complain-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quidem, voluptates, quod, quas quae quia quibusdam dolorum
              voluptatum quos nemo quae quia quibusdam dolorum voluptatum quos
              nemo
            </p>
          </div>
          <div class="complain-footer">
            <div class="poster-image">
              <img
                src="https://i.pinimg.com/736x/bb/e3/02/bbe302ed8d905165577c638e908cec76.jpg"
                alt=""
              />
            </div>
            <div class="author-desc">
              <span class="name">Amol Parashar</span>
              <span class="date">Dec 12, 2021</span>
            </div>
          </div>
        </div>
        <div class="complain">
          <div class="complain-image">
            <img
              src="https://images.pexels.com/photos/27143631/pexels-photo-27143631/free-photo-of-fisherman.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="complaint image"
            />
          </div>
          <div class="complain-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quidem, voluptates, quod, quas quae quia quibusdam dolorum
              voluptatum quos nemo quae quia quibusdam dolorum voluptatum quos
              nemo
            </p>
          </div>
          <div class="complain-footer">
            <div class="poster-image">
              <img
                src="https://i.pinimg.com/736x/bb/e3/02/bbe302ed8d905165577c638e908cec76.jpg"
                alt=""
              />
            </div>
            <div class="author-desc">
              <span class="name">Amol Parashar</span>
              <span class="date">Dec 12, 2021</span>
            </div>
          </div>
        </div>
        <div class="complain">
          <div class="complain-image">
            <img
              src="https://images.pexels.com/photos/27143631/pexels-photo-27143631/free-photo-of-fisherman.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="complaint image"
            />
          </div>
          <div class="complain-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quidem, voluptates, quod, quas quae quia quibusdam dolorum
              voluptatum quos nemo quae quia quibusdam dolorum voluptatum quos
              nemo
            </p>
          </div>
          <div class="complain-footer">
            <div class="poster-image">
              <img
                src="https://i.pinimg.com/736x/bb/e3/02/bbe302ed8d905165577c638e908cec76.jpg"
                alt=""
              />
            </div>
            <div class="author-desc">
              <span class="name">Amol Parashar</span>
              <span class="date">Dec 12, 2021</span>
            </div>
          </div>
        </div>
        <div class="complain">
          <div class="complain-image">
            <img
              src="https://images.pexels.com/photos/27143631/pexels-photo-27143631/free-photo-of-fisherman.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="complaint image"
            />
          </div>
          <div class="complain-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              quidem, voluptates, quod, quas quae quia quibusdam dolorum
              voluptatum quos nemo quae quia quibusdam dolorum voluptatum quos
              nemo
            </p>
          </div>
          <div class="complain-footer">
            <div class="poster-image">
              <img
                src="https://i.pinimg.com/736x/bb/e3/02/bbe302ed8d905165577c638e908cec76.jpg"
                alt=""
              />
            </div>
            <div class="author-desc">
              <span class="name">Amol Parashar</span>
              <span class="date">Dec 12, 2021</span>
            </div>
          </div>
        </div>
      </section>
      <section class="load-more-section">
        <button class="load-more">Load More</button>
      </section>
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Add Complain</h2>
          <form>
            <label for="title">Title:</label><br />
            <input type="text" id="title" name="title" /><br /><br />
            <label for="description">Description:</label><br />
            <textarea id="description" name="description"></textarea
            ><br /><br />
            <button class="submit-btn" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </main>
     
    <script>
      var modal = document.getElementById("modal");
      var btn = document.querySelector(".add-complain button");
      var span = document.getElementsByClassName("close")[0];
      btn.onclick = function () {
        modal.style.display = "block";
      };

      span.onclick = function () {
        modal.style.display = "none";
      };
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
    </script>
  </body>
</html>

   
    
  </body>
</html>

