<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
    <link href="/css/main.css" rel="stylesheet" type="text/css" />

</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <img src="image/logo-name0.png.png" alt="">
      </div>
  
  
      <div class="box">
        
         <input type="text" placeholder=" Search Bar">
         
      </div>
      <div class="button">
        <button class="button">Sign In</button>
      </div>
    </div>
  
    <div class="nav-bar">
      <div class="home">Home</div>
      <div class="contact-us">Contact us</div>
      <div class="about-us">About us</div>
      <div class="notification">Notification</div>
    </div>
  
  </header>
  <main>
    <h1>Home Page</h1>
  </main>
    
  <footer class="footer-1">
      <div class="footer-content">       
         <p> सचेत <br> नागरिक</p>
      </div>
      <div class="footer-content">
        <h4>Quick Links</h4>
        <li><a href="/">Home</a></li>
       
        <li><a href="/about-us">About us</a></li>

        <li><a href="/contact-us">Contact us</a></li>
      </div>
      
     
      <div class="footer-content">
        <h4>Connect with us</h4>
        <div class="icons">
          <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.gmail.com/"><i class="fa-brands fa-google"></i></a>
        </div>
      </div>
  </footer>
</body>
</html>